alembic>=1.13.2
fastapi>=0.115.0
opentelemetry-api>=1.39.1
opentelemetry-instrumentation-fastapi>=0.60b1
opentelemetry-sdk>=1.39.1
psycopg2-binary>=2.9.11
pydantic-settings>=2.5.2
sentry-sdk[fastapi]>=2.53.0
sqlalchemy>=2.0.35
uvicorn>=0.30.6
